data/
.vscode
.ipynb_checkpoints
gen_data/
*__pycache__/
__marimo__
*reactome_parser.egg*
reactome_graphs.egg-info/
lib/

*.ipynb
*.txt
*.sh

tpnet/
STHN/

.venv/

tgat/
modules/
cache/
.cache/
go.obo
go_node2vec_embeddings.pt
go_node2vec_matrix.pt
graph.json
index.html
obo2vec.py
graph_mutant.json
.Rproj.user
